.ServicesTopMain {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  height: 35vh;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-end;
  color: white;
  padding-bottom: 10px;
}

.Breadcrumb {
  display: flex;
  align-items: center;
}

.Breadcrumb a {
  color: white;
  text-decoration: none;
}

.Breadcrumb a:nth-child(3) {
  color: #2cd4e0;
}

.Breadcrumb p {
  content: "/";
  color: white;
  margin: 0 5px;
}

.ServicesCardsMainGrid {
  padding: 40px;
}

.cards {
  margin: 20px;
}

.CardActionsDiv {
  justify-content: center;
}

.moreButton {
  border: none;
  height: 30px;
}

.engineeringProjectMainDiv {
  width: calc(100% - 120px);
  height: calc(100vh - 180px);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 30px 60px;
}
.engineeringProjectMainDiv_p{
  color: #000000 !important;
  vertical-align: inherit;
  font-family: "Open Sans", sans-serif;
  line-height: 1.42857;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}
.CardActionsDiv{
  justify-content: flex-start;
}
.engineeringProjectCardContent{
  justify-content: flex-start;
}
.css-46bh2p-MuiCardContent-root {
  padding: 8px !important;
}
:where(.css-dev-only-do-not-override-k7429z).ant-tabs-top >.ant-tabs-nav::before, :where(.css-dev-only-do-not-override-k7429z).ant-tabs-bottom >.ant-tabs-nav::before, :where(.css-dev-only-do-not-override-k7429z).ant-tabs-top >div>.ant-tabs-nav::before, :where(.css-dev-only-do-not-override-k7429z).ant-tabs-bottom >div>.ant-tabs-nav::before {
 
  border-bottom: none!important;
 
}
:where(.css-dev-only-do-not-override-k7429z).ant-tabs >.ant-tabs-nav .ant-tabs-nav-wrap, :where(.css-dev-only-do-not-override-k7429z).ant-tabs >div>.ant-tabs-nav .ant-tabs-nav-wrap{
  font-weight: 600;
}